.App {
    text-align: center;
}

body {
    background-color: #335;
    font-weight: 100;
}

p {
    max-width: 860px;
    color: 'white';
    text-align: 'center';
    padding-bottom: 60px;
    margin: auto;
    line-height: 2;
    color: white;
}

.button {
    min-width: 150px;
    display: inline-block;
    padding: 6px 0 10px 0;
    margin: 16px;
    border-radius: .5rem;
    border: solid 1px white;
    text-decoration: none;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    color: white;
}

.button:hover {
    opacity: .8;
}
